<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftflproject.ftflicareapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    
    <uses-feature android:name="android.hardware.camera" />

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        
        <activity
            android:name="com.ftflproject.ftflicareapplication.SplashActivity"
            android:label="@string/app_name" >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ftflproject.ftflicareapplication.DashBoardActivity"
            android:label="ICare" >
          
        </activity>
         <activity
            android:name="com.ftflproject.ftflicareapplication.DietListActivity"
            android:label="Diet Chart" 
             android:parentActivityName="com.example.DietListActivity">
           
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ParentActivity" />
          
        </activity>
        <activity
            android:name="com.ftflproject.ftflicareapplication.UpcomingDietListActivity"
            android:label="Diet Chart" 
            android:parentActivityName="com.example.DietListActivity">
           
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ParentActivity" />
          
        </activity>
        
         <activity
            android:name="com.ftflproject.ftflicareapplication.VaccinationListActivity"
            android:label="Vaccination" 
            android:parentActivityName="com.example.DietListActivity">
           
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ParentActivity" />
          
        </activity>
          <activity
            android:name="com.ftflproject.ftflicareapplication.DoctorListActivity"
            android:label="Doctor" 
            android:parentActivityName="com.example.DietListActivity">
           
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ParentActivity" />
          
        </activity>
        <activity
            android:name="com.ftflproject.ftflicareapplication.MedicalHistoryListActivity"
            android:label="Medical History" 
            android:parentActivityName="com.example.DietListActivity">
           
             <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ParentActivity" />
          
        </activity>
        
         <activity
            android:name="com.ftflproject.ftflicareapplication.ProfileListActivity"
            android:label="Profile" 
            >
           
            
          
        </activity>
    </application>

</manifest>
